body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navegador {
    background-color: #f5cb02;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 150px;
    height: auto;
}
li{
    list-style: none;
    display: inline;
}
menu li a {
    text-decoration: none;
    color: #000000;
}
.navegador a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navegador .menu{
    display: inline-block;
    margin-left: 50px;
    padding: 10px 15px;
}




.encabezado{
    text-align: left;
    padding: 70px ;
    padding-bottom: 200px;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.encabezado-img{
    width: 135%;
    height: auto;
    display: inline-block;

}
.texto-encabezado{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;
    padding-top: 10px;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    font-weight: 100;
    margin-bottom: 10px;
}

p{
    line-height: 1.1;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.boton-amarillo{
    background-color: #f5cb02;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}

    .recuadro{
        display:flex;
        justify-content:center;
        align-items:center;
        padding:60px 50px;
        background-color:#f5cb02;
        box-shadow:0 22px 40px rgba(0,0,0,0.18);
        border-radius:4px;
        gap:28px
    }
    .recuadro img{
        width:150px;
        height:auto;
    }
    .recuadro-texto{
        flex:1
    }
    .recuadro-texto h2{
        font-family:'Bebas Neue';
        font-size:36px;
        margin-bottom:6px;
        color:#000
    }
    .recuadro-texto p{
        color:#444
    }
    .recuadrou{
        width:calc(100% - 10%);
        max-width:1000px;
        margin-top:-200px;
        background:#f3f3f3;
        padding:28px 36px;
        display:flex;
        align-items:center;
        box-shadow:0 22px 40px rgba(0,0,0,0.18);
        border-radius:4px
    }
    .stats-text{
        flex:1
    }
    .amarillo{
        color:#f4c542;
        font-family:'Bebas Neue';
        font-size:80px;
        margin-bottom:6px
    }

    .amarille{
        color:#f4c542;
        font-family:'Bebas Neue';
        font-size:50px;
        font-weight: 100;
    }
    .stats-text p{
        color:#444
    }
    .charts{
        display:flex;
        gap:24px;
        align-items:center
    }
    .graficos img{
        float: left;
        width:200px;
        padding: 20px 20px;
    }

.negro{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}




.we-can-help-you-to-be-happy{
   text-align: left;
    padding: 60px 50px;
    padding-bottom: 100px;
    background-color: #f5cb02;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.we-can-texto{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
    padding-top: 10px;
}


.we-can-titulo{
    width: 150%;
}

.we-can-img{
  width: 1500px;
  float: inline-start;
  height: auto;
  display: flex;
  padding-right: 230px;
  padding-top: 360px;
  
}

.read-more-n{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.boton-negro{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}











.happiness{
    display: flex;
    justify-content: space-between;
    padding: 70px ;
}

.cuadro-happiness {
    background-color: #f3f3f3;
    flex: 1;
    box-shadow: 0 30px 50px #05000050;
}
.cuadro {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cuadro .happ {
    width: 50%;
    border-radius: 6px;
}

.texto{
    flex: 1;
}

.cuadro .texto  {
    padding: 0px 20px;
}

.grafico{
    width: 20%;
    padding-top: 550px;
    padding-right: 50px;
}















.about{
    background:#050505;
    color:#fff;
    padding: 64px 0;
    text-align:center;
}
.content {
    max-width:900px;
    margin:0 auto 18px;
    color:#f3f3f3;
}
.about-us-content {width:80%;
    max-width:740px;
    display:block;
    margin:18px auto;
    border-radius:2px
}







.team{
    display:flex;
    gap:40px;
    align-items:center;
    padding:80px 5%;
}
.team .img img {
    width:100%;
    display:block;
}
.team p{
    max-width:420px;
    margin-bottom:18px;
}

.negrot{
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    font-weight: 100;
    margin-bottom: 10px;
}





.try-our-method-for-free{
    padding: 50px 0px 50px;
    align-items: flex-start;
    background-color: #f3f3f3;
    color: #000000;
    font-size: 20px;
    display: flex;
}

.try-our-texto{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
    padding-top: 10px;
}


.try-our-titulo{
    width: 150%;
}

.try-our-img{
  width: 100%;
  height: auto;
  display: flex;
  align-items: left;
}




.subscribe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  padding: 4rem;
  background-color: #faf7f3;
  font-family: 'Arial', sans-serif;
}


.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.psubs {
  color: #222;
  line-height: 1.6;
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

.btn-subscribe {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-weight: 600;
}



.formulario {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.juntos {
  display: flex;
  gap: 1rem;
}

.input-group {
  flex: 1;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

input, textarea {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.9rem;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.pequeño-text {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #ccc;
  margin-top: 1rem;
}


.boton-negri{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}





.contact{
    background:#f5cb02;
    padding:40px 0; 
    text-align:center;
}
.contact{
    font-family:'Bebas Neue';
    font-size:28px;
}
.map{
    width:90%;
    max-width:0px;
    margin:18px auto;
    height:320px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#999;
    font-weight:700;
}

.boton-negre{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 35px;
    text-decoration: none;
    display: inline-block;
    font-weight:100;
}


footer {
    background: #000;
    padding: 40px 0;
    color: #fff;
    font-family: sans-serif;
}


.lado {
    display: flex;
}


.logo-footer img {
    width: 80px;
}



.menu-footers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: #f1d25a;
    text-decoration: none;
    font-size: 18px;
}




.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    color: #f1d25a;
}


.social img {
    width: 24px;
    margin-left: 15px;
    cursor: pointer;
}

.amarillis {
    color:#f4c542;
    font-size:18px;
}
.lade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #444;

}
.derecha {
    display: flex;
    gap: 15px;
}


.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 5%;
}

.section .text {
    flex: 1;
    min-width: 20px;
}

.section .text p {
    max-width: 450px;
    line-height: 1.5;
}

.section img {
    flex: 1;
    width: 1%;
    max-width: 550px;
    height: auto;
    object-fit: cover;
    display: block;
}


@media (min-width: 1280px) {
    .section {
        padding: 8px 10%;
    }
    .navegador .logo{
        width: 10%;
    }
    .navegador li{
        font-size: 130%;
    }
    .encabezado{
        flex-direction: column;
    }

    .encabezado img{
        width: 100%;
    }

    .encabezado p{
        font-size: 150%;
    }

    .encabezado a{
        font-size: 140%;
    }

    .recuadro p { 
        font-size: 150%;
    }
    
    .recuadro h2{ 
        font-size: 310%;
    }
    .recuadro a{
        font-size: 150%;
    }
    .we-can-help-you-to-be-happy{
        flex-direction: column;
    }
    .we-can-help-you-to-be-happy img{
       width: 100%;
   
    }
    .we-can-help-you-to-be-happy p{
        font-size: 120%;
    }
    .cuadro{
        width: 55%;
    }
    .cuadro .happ{
        width: 100%;
    }
    .grafico{
        float: inline-end;
        padding-left: -50px;
    }


    .try-our-method-for-free{
        flex-direction: column;
        align-items: center;
    }

    .try-our-img{
        padding-left: 80%;
    }

    .subscribe{
        flex-direction: column;
    }
    .team{
        flex-direction: column;
    }






@media (max-width: 1279px) and (min-width: 921px) {
    .section {
        gap: 30px;
    }

    .section img {
        max-width: 480px;
    }
}

@media (max-width: 920px) and (min-width: 769px) {
    .section {
        gap: 25px;
    }

    .section img {
        max-width: 450px;
    }
}



@media (max-width: 768px) and (min-width: 481px) {
    .section {
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
    }

    .section img {
        max-width: 80%;
        margin: 0 auto;
    }

    .section .text p {
        margin: 0 auto;
    }
}


@media (max-width: 480px) {
    .section {
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
    }

    .section img {
        max-width: 100%;
    }

    .section h1, .section h2, .section h3 {
        font-size: 1.6rem;
    }

    .section p {
        font-size: 0.9rem;
    }
}